@using HotfixMods.Infrastructure.Razor.Business
@using HotfixMods.Infrastructure.Razor.Components.Private

@typeparam T
<div class="custom-wrapper">
    <MudBadge Origin="Origin.CenterLeft" Overlap="true" Icon="@Icons.Filled.ArrowForward" Color="@Color.Info" OnClick="@(() => SetValueAsync(ValueLookup))" Visible="@(GetBadgeVisibility())" Style="width:100%" Class="pt-4">

        @* A normal fields feels faster in the UI *@
        @if (null == Options || Options.Count == 0)
        {
            <MudNumericField T="T" Value="@Value" ValueChanged="SetValueAsync" Label="@Label" Variant="@Variant" HideSpinButtons="true" HelperText="@(ComponentHelper.GetHelperText<T>())" HelperTextOnFocus="true" Adornment="Adornment.End" AdornmentIcon="@AdornmentIcon" OnAdornmentClick="OnAdornmentClick" />
        }
        else
        {
            <Autocomplete_Private T="T" Value="@Value" ValueChanged="SetValueAsync" Label="@Label" Variant="Variant" Options="Options" AdornmentIcon="@AdornmentIcon" OnAdornmentClick="OnAdornmentClick" />
        }
    </MudBadge>
</div>

@code
{
    [Parameter]
    public T Value { get; set; }

    [Parameter]
    public object? ValueLookup { get; set; }

    [Parameter]
    public Dictionary<T, string>? Options { get; set; }

    [Parameter]
    public EventCallback<T?> ValueChanged { get; set; }

    [Parameter]
    public string? Label { get; set; }

    [Parameter]
    public Variant Variant { get; set; } = Variant.Outlined;

    [Parameter]
    public string? AdornmentIcon { get; set; }

    [Parameter]
    public EventCallback OnAdornmentClick { get; set; }

    bool GetBadgeVisibility()
    {
        if (Value != null && ValueLookup != null)
        {
            var valStr = Value.ToString();
            var lValStr = ValueLookup.ToString();
            if (valStr.StartsWith("-") || lValStr.StartsWith("-"))
            {
                var val = long.Parse(valStr);
                var lVal = long.Parse(lValStr);
                return val != lVal;
            }
            else
            {
                var val = ulong.Parse(valStr);
                var lVal = ulong.Parse(lValStr);
                return val != lVal;
            }
        }
        return false;
    }

    async Task SetValueAsync(object newValue)
    {
        Value = (T)newValue;
        await ValueChanged.InvokeAsync(Value);
    }

    async Task SetValueAsync(T newValue)
    {
        Value = newValue;
        await ValueChanged.InvokeAsync(Value);
    }
}
