@page "/"
@using HotfixMods.Infrastructure.Blazor.PageData
@using HotfixMods.Infrastructure.Blazor.Components.Dialogs
@using HotfixMods.Infrastructure.Blazor.Handlers;
@using HotfixMods.Infrastructure.Blazor.Pages.Dashboards

@inject IDialogService DialogService

<MudTabs @ref="_mudTabsRef" Elevation="2" Centered="true" Color="Color.Dark" KeepPanelsAlive="true" Style="z-index:101">
    <Header>
        <MudTooltip Text="New">
            <MudIconButton Icon="@Icons.Material.Filled.AddCircleOutline" Style="color:var(--mud-palette-text-primary)" OnClick="NewTab_Click" />
        </MudTooltip>
    </Header>
    <ChildContent>
        @foreach (var (tab, index) in tabs.WithIndex())
        {
            <CascadingValue Name="PageTab" Value="tab">
                <MudTabPanel ID="@tab.TabId">
                    <ChildContent>
                        <MudContainer MaxWidth="MaxWidth.Large" Class="my-10 pt-10">
                            <DynamicComponent Type="tab.PageType" />
                        </MudContainer>
                    </ChildContent>
                    <TabContent>
                        <MudStack Row="true" Justify="Justify.SpaceBetween" Style="width:100%;">
                            <MudText Typo="Typo.subtitle2">@tab.TabName.ToUpper()</MudText><MudIcon Icon="@Icons.Material.Filled.Close" Color="Color.Dark" onclick="@(() => CloseTab_Click(tab.TabId))" />
                        </MudStack>
                    </TabContent>
                </MudTabPanel>
            </CascadingValue>
        }
    </ChildContent>
</MudTabs>

<MudDrawer @bind-Open="@_menuOpen" Anchor="Anchor.Bottom" Elevation="1" Variant="@DrawerVariant.Temporary">
    <MudDrawerHeader>
        <MudText Typo="Typo.h6" Align="Align.Center" Style="width:100%">Hotfix Mods</MudText>
    </MudDrawerHeader>
    <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.Center" Spacing="2" Style="width:100%;">
        <div onmouseover="@(() => SetHover("TODO"))">
            <MudIconButton Icon="@Icons.Material.Filled.MonitorHeart" Color="Color.Inherit" Size="Size.Small" />
        </div>
        <div onmouseover="@(() => SetHover("Settings"))">
            <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Inherit" Size="Size.Small" />
        </div>
        <MudText Color="Color.Inherit" Typo="Typo.h5">|</MudText>

        @* Creatures *@
        <MudMenu ActivationEvent="@MouseEvent.MouseOver" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter" onmouseover="@(() => SetHover("Creatures"))">
            <ActivatorContent>
                <MudIconButton Icon="@Icons.Material.Filled.FaceRetouchingNatural" Color="Color.Inherit" Size="Size.Large" Style="pointer-events: none;" />
            </ActivatorContent>
            <ChildContent>
                <MudMenuItem OnClick="@(() => OpenDashboard_Click(new PageTab("Creatures", typeof(CreatureDashboard))))">My Creatures</MudMenuItem>
                <MudMenuItem Disabled="true"><MudPaper Style="height:1px; width:100%;background-color:var(--mud-palette-action-disabled)" /></MudMenuItem>
                <MudMenuItem OnClick="@(() => OpenDialog_Click<CreatureSearchId_Dialog>(new PageTab("Creature", typeof(Creatures))))">Search by Creature ID</MudMenuItem>
                <MudMenuItem OnClick="@(() => OpenDialog_Click<CreatureSearchDisplayId_Dialog>(new PageTab("Creature", typeof(Creatures))))">Search by Display ID</MudMenuItem>
                <MudMenuItem OnClick="@(() => OpenDialog_Click<CreatureSearchCharacterName_Dialog>(new PageTab("Creature", typeof(Creatures))))">Search by Character Name</MudMenuItem>
                <MudMenuItem Disabled="true"><MudPaper Style="height:1px; width:100%;background-color:var(--mud-palette-action-disabled)" /></MudMenuItem>
                <MudMenuItem OnClick="@(() => NewDto_Click<CreatureDto>(new PageTab("Creature", typeof(Creatures))))">New Creature</MudMenuItem>
            </ChildContent>
        </MudMenu>

        @* Gameobjects *@
        <MudMenu ActivationEvent="@MouseEvent.MouseOver" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter" onmouseover="@(() => SetHover("Game Objects"))">
            <ActivatorContent>
                <MudIconButton Icon="@Icons.Material.Filled.OutlinedFlag" Color="Color.Inherit" Size="Size.Large" Style="pointer-events: none;" />
            </ActivatorContent>
            <ChildContent>
                <MudMenuItem OnClick="@(() => OpenDashboard_Click(new PageTab("Game Objects", typeof(GameobjectDashboard))))">My Game Objects</MudMenuItem>
                <MudMenuItem Disabled="true"><MudPaper Style="height:1px; width:100%;background-color:var(--mud-palette-action-disabled)" /></MudMenuItem>
                <MudMenuItem OnClick="@(() => OpenDialog_Click<GameobjectSearchId_Dialog>(new PageTab("Game Object", typeof(Gameobjects))))">Search by ID</MudMenuItem>
                <MudMenuItem Disabled="true"><MudPaper Style="height:1px; width:100%;background-color:var(--mud-palette-action-disabled)" /></MudMenuItem>
                <MudMenuItem OnClick="@(() => NewDto_Click<GameobjectDto>(new PageTab("Game Object", typeof(Gameobjects))))">New Game Object</MudMenuItem>
            </ChildContent>
        </MudMenu>

        @* Items *@
        <MudMenu ActivationEvent="@MouseEvent.MouseOver" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter" onmouseover="@(() => SetHover("Items"))">
            <ActivatorContent>
                <MudIconButton Icon="@Icons.Material.Outlined.Shield" Color="Color.Inherit" Size="Size.Large" Style="pointer-events: none;" />
            </ActivatorContent>
            <ChildContent>
                <MudMenuItem OnClick="@(() => OpenDashboard_Click(new PageTab("Items", typeof(ItemDashboard))))">My Items</MudMenuItem>
                <MudMenuItem Disabled="true"><MudPaper Style="height:1px; width:100%;background-color:var(--mud-palette-action-disabled)" /></MudMenuItem>
                <MudMenuItem OnClick="@(() => OpenDialog_Click<ItemSearchId_Dialog>(new PageTab("Item", typeof(Items))))">Search by ID</MudMenuItem>
                <MudMenuItem Disabled="true"><MudPaper Style="height:1px; width:100%;background-color:var(--mud-palette-action-disabled)" /></MudMenuItem>
                <MudMenuItem OnClick="@(() => NewDto_Click<ItemDto>(new PageTab("Item", typeof(Items))))">New Item</MudMenuItem>
            </ChildContent>
        </MudMenu>

        @* Spells *@
        <MudMenu ActivationEvent="@MouseEvent.MouseOver" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter" onmouseover="@(() => SetHover("Spells"))">
            <ActivatorContent>
                <MudIconButton Icon="@Icons.Material.Filled.AutoFixHigh" Color="Color.Inherit" Size="Size.Large" Style="pointer-events: none;" />
            </ActivatorContent>
            <ChildContent>
                <MudMenuItem OnClick="@(() => OpenDashboard_Click(new PageTab("Spells", typeof(SpellDashboard))))">My Spells</MudMenuItem>
                <MudMenuItem Disabled="true"><MudPaper Style="height:1px; width:100%;background-color:var(--mud-palette-action-disabled)" /></MudMenuItem>
                <MudMenuItem OnClick="@(() => OpenDialog_Click<SpellSearchId_Dialog>(new PageTab("Spell", typeof(Spells))))">Search by ID</MudMenuItem>
                <MudMenuItem Disabled="true"><MudPaper Style="height:1px; width:100%;background-color:var(--mud-palette-action-disabled)" /></MudMenuItem>
                <MudMenuItem OnClick="@(() => NewDto_Click<SpellDto>(new PageTab("Spell", typeof(Spells))))">New Spell</MudMenuItem>
            </ChildContent>
        </MudMenu>

        @* Spell Visual Kits *@
        <MudMenu ActivationEvent="@MouseEvent.MouseOver" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter" onmouseover="@(() => SetHover("Spell Visual Kits"))">
            <ActivatorContent>
                <MudIconButton Icon="@Icons.Material.Filled.AutoAwesome" Color="Color.Inherit" Size="Size.Large" Style="pointer-events: none;" />
            </ActivatorContent>
            <ChildContent>
                <MudMenuItem OnClick="@(() => OpenDashboard_Click(new PageTab("Spell Visual Kits", typeof(SpellVisualKitDashboard))))">My Spell Visual Kits</MudMenuItem>
                <MudMenuItem Disabled="true"><MudPaper Style="height:1px; width:100%;background-color:var(--mud-palette-action-disabled)" /></MudMenuItem>
                <MudMenuItem OnClick="@(() => OpenDialog_Click<SpellVisualKitSearchId_Dialog>(new PageTab("Spell Visual Kit", typeof(SpellVisualKits))))">Search by ID</MudMenuItem>
                <MudMenuItem Disabled="true"><MudPaper Style="height:1px; width:100%;background-color:var(--mud-palette-action-disabled)" /></MudMenuItem>
                <MudMenuItem OnClick="@(() => NewDto_Click<SpellVisualKitDto>(new PageTab("Spell Visual Kit", typeof(SpellVisualKits))))">New Spell Visual Kit</MudMenuItem>
            </ChildContent>
        </MudMenu>

        @* Anim Kits *@
        <MudMenu ActivationEvent="@MouseEvent.MouseOver" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter" onmouseover="@(() => SetHover("Anim Kits"))">
            <ActivatorContent>
                <MudIconButton Icon="@Icons.Material.Filled.Group" Color="Color.Inherit" Size="Size.Large" Style="pointer-events: none;" />
            </ActivatorContent>
            <ChildContent>
                <MudMenuItem OnClick="@(() => OpenDashboard_Click(new PageTab("Anim Kits", typeof(AnimKitDashboard))))">My Anim Kits</MudMenuItem>
                <MudMenuItem Disabled="true"><MudPaper Style="height:1px; width:100%;background-color:var(--mud-palette-action-disabled)" /></MudMenuItem>
                <MudMenuItem OnClick="@(() => OpenDialog_Click<AnimKitSearchId_Dialog>(new PageTab("Anim Kit", typeof(AnimKits))))">Search by ID</MudMenuItem>
                <MudMenuItem Disabled="true"><MudPaper Style="height:1px; width:100%;background-color:var(--mud-palette-action-disabled)" /></MudMenuItem>
                <MudMenuItem OnClick="@(() => NewDto_Click<AnimKitDto>(new PageTab("Anim Kit", typeof(AnimKits))))">New Anim Kit</MudMenuItem>
            </ChildContent>
        </MudMenu>

        @* Sound Kits *@
        <MudMenu ActivationEvent="@MouseEvent.MouseOver" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter" onmouseover="@(() => SetHover("Sound Kits"))">
            <ActivatorContent>
                <MudIconButton Icon="@Icons.Material.Filled.VolumeUp" Color="Color.Inherit" Size="Size.Large" Style="pointer-events: none;" />
            </ActivatorContent>
            <ChildContent>
                <MudMenuItem OnClick="@(() => OpenDashboard_Click(new PageTab("Sound Kits", typeof(SoundKitDashboard))))">My Sound Kits</MudMenuItem>
                <MudMenuItem Disabled="true"><MudPaper Style="height:1px; width:100%;background-color:var(--mud-palette-action-disabled)" /></MudMenuItem>
                <MudMenuItem OnClick="@(() => OpenDialog_Click<SoundKitSearchId_Dialog>(new PageTab("Sound Kit", typeof(SoundKits))))">Search by ID</MudMenuItem>
                <MudMenuItem Disabled="true"><MudPaper Style="height:1px; width:100%;background-color:var(--mud-palette-action-disabled)" /></MudMenuItem>
                <MudMenuItem OnClick="@(() => NewDto_Click<SoundKitDto>(new PageTab("Sound Kit", typeof(SoundKits))))">New Sound Kit</MudMenuItem>
            </ChildContent>
        </MudMenu>

        <MudText Color="Color.Inherit" Typo="Typo.h5">|</MudText>
        <MudText Color="Color.Inherit" Typo="Typo.subtitle2" Style="min-width:120px">@hover</MudText>

    </MudStack>
</MudDrawer>

@code {
    MudTabs? _mudTabsRef;
    bool _menuOpen = false;
    List<PageTab> tabs = new();
    bool tabAdded = false;
    string hover = "";

    protected override void OnInitialized()
    {
        TabHandler.LaunchTab = LaunchTab;
        base.OnInitialized();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (tabAdded)
        {
            tabAdded = false;
            _mudTabsRef?.ActivatePanel(tabs.Count - 1);
        }
        if (!_menuOpen)
            hover = "";
        base.OnAfterRender(firstRender);
    }

    void NewTab_Click()
    {
        _menuOpen = true;
    }

    void NewDto_Click<TDto>(PageTab tab)
        where TDto : IDto
    {
        tab.Dto = (TDto)Activator.CreateInstance(typeof(TDto))!;
        LaunchTab(tab);
    }

    void OpenDashboard_Click(PageTab tab)
    {
        LaunchTab(tab);
    }

    void CloseTab_Click(Guid tabId)
    {
        tabs.RemoveAll(t => t.TabId == tabId);
    }

    void LaunchTab(PageTab tab)
    {
        _menuOpen = false;
        tabs.Add(tab);
        tabAdded = true;
    }

    void SetHover(string menuItem)
    {
        hover = menuItem;
    }

    async void OpenDialog_Click<TDialog>(PageTab pageTab)
    where TDialog : ComponentBase
    {
        var result = await DialogService.Show<TDialog>().Result;
        if (!result.Canceled && result.Data != null)
        {
            pageTab.Dto = (DtoBase)result.Data;
            pageTab.TabName = ((DtoBase)result.Data).GetDisplayName();
            LaunchTab(pageTab);
            this.StateHasChanged();
        }
    }
}