@typeparam T where T : class, new()

@if (!ValueIsNull)
{
    <MudGrid Style="position:absolute; width:1232px">
        <MudItem xs="12">
            <div style="@($"position:absolute; top:{(650 / 2) - 60}px; left:calc(100%)")">
                <MudIconButton Icon="@Icons.Material.Filled.NavigateNext" Color="Color.Primary" Class="custom-slide-navigator" @bind-Disabled="@nextPageDisabled" OnClick="NavigateForward_Click" />
            </div>
            <div style="@($"position:absolute; top:{(650 / 2) - 60}px;left:-120px")">
                <MudIconButton Icon="@Icons.Material.Filled.NavigateBefore" Color="Color.Primary" Class="custom-slide-navigator" @bind-Disabled="@previousPageDisabled" OnClick="NavigateBackward_Click" />
            </div>
        </MudItem>
    </MudGrid>
}

@* The remaining px-2 is in PagedDtoContentPage *@
<div class="px-4">
    <MudCarousel @ref="mudCarouselRef" Style="height:640px" TData="object" ShowArrows="false" ShowBullets="false" AutoCycle="false" SelectedIndexChanged="NavigatePage">
        <CascadingValue Name="Transition" Value="Transition">
            @if (ValueIsNull)
            {
                <PagedDtoContentPage>
                    <DtoContentNoValue />
                </PagedDtoContentPage>
            }
            else
            {
                <CascadingValue Name="CurrentPageIndex" Value="mudCarouselRef?.SelectedIndex ?? 0">
                    @ChildContent
                </CascadingValue>
            }
        </CascadingValue>
    </MudCarousel>
</div>
